on:
  schedule:
    - cron: 7 7 * * 1 # run every monday at 7:07 UTC
  repository_dispatch: # run manually
    types: [check-link]

name: Broken Link Check
jobs:
  check:
    name: Broken Link Check
    runs-on: ubuntu-latest
    steps:
      - name: Broken Link Check
        uses: technote-space/broken-link-checker-action@v2
        with:
          TARGET: https://docs.altinn.studio/
          EXCLUDED_KEYWORDS:
             - localhost
             - local.altinn.cloud
        
